.weather {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 10%;
  min-height: 200px;
  position: relative;

  &-form {
    margin-top: 50px;

    &__input {
      width: 160px;
      padding: 15px 15px 15px 45px;
      border-radius: 10px 0 0 10px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      text-transform: capitalize;
      outline: none;
      background-image: url("../../../../weather-app/public/zoom_icon.png");
      background-position: 10px 50%;
      background-size: 20px;
      background-repeat: no-repeat;
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;

      &::placeholder {
        text-transform: none;
        color: #fff;
      }
    }

    &__submit {
      padding: 15px;
      border-radius: 0 10px 10px 0;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-left: transparent;
      background-color: rgba(255, 255, 255, 0.2);
      color: #fff;

      &:enabled {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 350px){
  .weather-form__input {
    width: 125px;
  }
}