@import './styles/weather-icon.scss';

.card {
  display: flex;
  flex-direction: row;
  min-width: 20%;
  margin: 0 0 20px 0;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;

    &-title {
      span {
        font-size: 18px;
        font-weight: 700;
        color: #000;
      }
    }

    &-text {
      .text__cloud,
      .text__temp {
        margin: 0;
      }

      .text__cloud {
        width: 120px;
      }

      .text__temp {
        font-size: 15px;
        font-weight: 800;
      }
    }
  }
}

@media screen and (max-width: 1240px){
  .card {
    min-width: 50%;
  }
}