@import './styles/weather-icon.scss';

.weather-list {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  margin: 0 0 20px 0;

  h2 {
    text-align: left;
    font-size: 20px;
    margin: 40px 0 5px 0;
    color: #fff;
  }

  &-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
    background: linear-gradient(to left top, #54BBC4, #4EBEC2, #5BC7C9 100%);
    border: 1px solid #61cdd2;
    border-radius: 10px;
  }
}