body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #46A0B1 0%, #32A0B2 0%, #89D0D9 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrap {
  max-width: 1240px;
  margin: 0 auto;
}

h1 {
  font-size: 25px;
  color: #fff;
}

h1 span {
  color: #61fbf2;
}

.content_error {
  color: #a41616;
  margin: 0 auto;
}

@media screen and (max-width: 1240px){
  .wrap {
    padding: 0 40px;
  }
}

@media screen and (max-width: 480px){
  .wrap {
    padding: 0 20px;
  }
}